#header {
	height: 75px;
	background-color: #fafafa;
	box-shadow: 0px 4px 2px -1px gray;
	position: fixed;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color:black;
}
#logo{
	float:left;
	font-family: 'Pacifico', cursive;
	font-size: 38px;
	margin-left: 200px;
	padding-top: 5px;
	height: auto;

}
body{
	margin:0;
}
.headerlinks{
	width: auto;
	padding-right: 25px;
	padding-left: 25px;
	height: 100%;
	padding-top:27px;
	text-align: center;
	float: right;
}
a{
	text-decoration: none;
	color:#464646;
}


/* ... Menu ... */
#menu {
	transition: all 1000ms ease-in-out;
	position: fixed;
	top: 0;
	left: -53vw;
	width: 50vw;
	height: 50vw;
}

#menu.active {
	left: -5vw;
}

#menu_div {
	position: absolute;
	width: 150%;
	height: 150%;
	top: -75%;
	left: -75%;
	background:rgb(18,29,28);
	background: transparent\9;
	background:rgba(18,29,28,.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf121d1c,endColorstr=#bf121d1c);
	zoom: 1;

	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#menu_div ul {
	position: absolute;
	list-style: none;
	top: 12%;
	right: 0;
}

#menu_div ul li {
	position: relative;
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 60px;
	color: #e1ddd4;
	padding: 15px;
	text-align: right;
	text-transform: lowercase;

	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menu_div ul li::after {
	transition: all 200ms ease-in-out;
	position: absolute;
	content: '';
	top: 35px;
	left: -60px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #a45646;
	opacity: 0;
}

#menu_div ul li:hover::after {
	opacity: 1;
}

/* ...Menu Icon... */
#menu_icon {
	transition: all 500ms ease-in-out;
	cursor: pointer;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 25px;
	right: -6vw;
	z-index: 100;

	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#menu_icon .menu {
	margin: 11px 0 0 0;
}

#menu_icon .menu::before,#menu_icon .menu::after {
	top: 0;
}

#menu_icon .menu::before {
	transform: translate(0,-17px);
	-webkit-transform: translate(0,-17px);
	-moz-transform: translate(0,-17px);
}

#menu_icon .menu::after {
	transform: translate(0,17px);
	-webkit-transform: translate(0,17px);
	-moz-transform: translate(0,17px);
}

#menu_icon .menu, #menu_icon .menu::before, #menu_icon .menu::after {
	border-radius: 2px;
	height: 7px;
	width: 45px;
	background: #2b2b2d;
	position: absolute;
	display: block;
	content: '';
	transition: all 500ms ease-in-out;
}

#menu.active #menu_icon .menu{
	background: transparent;
}

#menu.active #menu_icon .menu::before{
	transform: translate(0,0px);
	-webkit-transform: translate(0,0px);
	-moz-transform: translate(0,0px);

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

#menu.active #menu_icon .menu::after {
	transform: translate(0,0px);
	-webkit-transform: translate(0,0px);
	-moz-transform: translate(0,0px);

	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}