/* ...Browser Reset... */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	Box-sizing: Border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ... Main ... */
html, body {
	height: 100%;
}

body {
	background: #fafafa;
}

.page {
	min-height: 100%;
}

/* ... Menu ... */
#menu {
	transition: all 1000ms ease-in-out;
	position: fixed;
	top: 0;
	left: -50vw;
	width: 50vw;
	height: 50vw;

	z-index: 999;
}

#menu.active {
	left: 0vw;
}

#menu_div {
	position: absolute;
	width: 150%;
	height: 150%;
	top: -75%;
	left: -82%;
	background:rgb(18,29,28);
	background: transparent\9;
	background:rgba(18,29,28,.75);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf121d1c,endColorstr=#bf121d1c);
	zoom: 1;

	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#menu_div ul {
	position: absolute;
	list-style: none;
	top: 12vw;
	right: 0;
}

#menu_div ul li {
	position: relative;
	font-family: 'Quicksand';
	font-weight: bold;
	font-size: 60px;
	color: #e1ddd4;
	padding: 15px;
	text-align: right;
	text-transform: lowercase;

	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menu_div ul li::after {
	transition: all 200ms ease-in-out;
	position: absolute;
	content: '';
	top: 35px;
	left: -60px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: #a45646;
	opacity: 0;
}

#menu_div ul li:hover::after {
	opacity: 1;
}

/* ...Menu Icon... */
#menu_icon {
	transition: all 500ms ease-in-out;
	cursor: pointer;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 25px;
	right: -70px;
	z-index: 100;

	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#menu_icon .menu {
	margin: 11px 0 0 0;
}

#menu_icon .menu::before,#menu_icon .menu::after {
	top: 0;
}

#menu_icon .menu::before {
	transform: translate(0,-17px);
	-webkit-transform: translate(0,-17px);
	-moz-transform: translate(0,-17px);
}

#menu_icon .menu::after {
	transform: translate(0,17px);
	-webkit-transform: translate(0,17px);
	-moz-transform: translate(0,17px);
}

#menu_icon .menu, #menu_icon .menu::before, #menu_icon .menu::after {
	border-radius: 2px;
	height: 7px;
	width: 45px;
	background: #2b2b2d;
	position: absolute;
	display: block;
	content: '';
	transition: all 500ms ease-in-out;
}

#menu.active #menu_icon .menu{
	background: transparent;
}

#menu.active #menu_icon .menu::before{
	transform: translate(0,0px);
	-webkit-transform: translate(0,0px);
	-moz-transform: translate(0,0px);

	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

#menu.active #menu_icon .menu::after {
	transform: translate(0,0px);
	-webkit-transform: translate(0,0px);
	-moz-transform: translate(0,0px);

	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}

/* ... Home ... */
#colors {
	position: absolute;
	width: 100%;
	height: 135px;
	margin-top: -67.5px;
	top: 50%;
}

.color {
	position: relative;
	width: 20%;
	height: 100%;
	float: left;
}

.color.c1 {
	background: #393f3d;
}

.color.c2 {
	background: #4c2c32;
}

.color.c3 {
	background: #a45646;
}

.color.c4 {
	background: #d39250;
}

.color.c5 {
	background: #e1ddd4;
}

.home_logo {
	position: absolute;
	width: 100%;
	height: 100%;
}

.home_logo img {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.home_logo .text {
	color: #000000;
	font-family: 'Pacifico';
	font-size: 80px;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	color: #e1ddd4;
	transform: translate(-50%, -50%);
}

.white {
	margin: 0 60px;
}

/* ... Over Ons ... */

#werknemerswrapper{
	min-height: 100%;
	height: 30%;
	margin-top: 10%;
}
.werknemerpersoon{
	width: 20%;
	height: 20%;
	float:left;
}
.werknemertext{
	padding-left: 25px;
	padding-right: 25px;
	height: 250px;
	overflow: hidden;
}

.werknemertext h3{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	text-decoration: none;
	color:#464646;
	text-align: center;

}
.werknemertext h4 {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	text-decoration: none;
	color:#464646;
	text-align: center;
}
.werknemertext p{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
	font-size: 10px;
	text-decoration: none;
	text-align: justify;
	color:#464646;
}
.textcenter{
	text-align: center;
}
.imageIntroductie{
	width: 20%

}
.tekstIntroductie{
	font-family: 'Open Sans', sans-serif;
	width: 35%

}
.tekstIntroductie h1{
	font-family: 'Pacifico';	
}

